*, *::after, *::before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body
{
	font-family:'Comic Sans MS';
	font-style: italic;
}

.wrapper {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.board {
	display: grid;
	grid-gap: 5px;
	padding:5px;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
	background-color: thistle;
}

.cell {
	background-color: azure;
	cursor: pointer;
	position: relative;
}

.cell:hover {
	background-color:  aliceblue;
}


.cell--filled-O::before {
	position: absolute;
	content: '';
	width: 80%;
	height: 80%;
	border-radius: 50%;
	border: 12px solid palevioletred;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cell--filled-X::after {
	position: absolute;
	content: '';
	height: 12px;
	border-radius: 5px;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translateY(-50%) rotate(-45deg);
	background-color:  palevioletred;
}

.cell--filled-X::before {
	position: absolute;
	content: '';
	height: 12px;
	width: 100%;
	border-radius: 5px;
	top: 50%;
	left: 0;
	transform: translateY(-50%) rotate(45deg);
	background-color: palevioletred;
}

#restartButton {
	margin-top: 20px;
	padding: 5px 10px;
	background-color: thistle;
	border: 1px solid thistle;
	font: bold 18px 'Comic Sans MS';
	color: azure;
	border: 4px solid thistle;
}

	#restartButton:hover {
		background-color: azure;
		color: thistle;
		cursor: pointer;
	}